extends layout.pug

block content

  nav.nav
    a(href='/')
      span &larr;
      |  Back

  article.portfolio-about
    .inner-wrapper.flex-row-wrap.two-col
      .about-intro-box.box


        h1 Darrel Valdiviezo


        p Full Stack JavaScript Developer


        .about-bio


          p As a beginner JavaScript developer with aspirations of becoming a full-stack developer, I bring a unique combination of enthusiasm, creativity, and a willingness to learn.

            While I may be new to the world of coding, my passion for technology and problem-solving has driven me to develop a strong foundation in JavaScript. I am constantly seeking out new challenges and opportunities to hone my skills, and I am eager to apply my knowledge to real-world projects.

            As an aspiring full-stack developer, I understand the importance of collaboration and communication in building successful web applications. I am comfortable working with both front-end and back-end technologies, and I am always looking for ways to improve the user experience through intuitive design and seamless functionality.

            I am confident that my dedication, curiosity, and eagerness to learn will make me a valuable addition to any team. Whether it's developing new features, troubleshooting bugs, or collaborating on complex projects, I am ready to take on any challenge and help bring innovative ideas to life.


      .skills-contact-box.box
        h6 Skills


        ul

          each skill in Personal.Skills
            li= skill


        h6 Contact Info


        ul
          li= Personal.Number
          li= Personal.Email


        a.btn-link(href= `${Personal.LinkedIn}`) LinkedIn
        a.btn-link(href= `${Personal.Github}`) GitHub
        a.btn-link(href='') Twitter

    nav.nav
      a(href='/')
        span &larr;
        |  Back